<%= form_for(@utilisateur) do |f| %>
  <% if @utilisateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utilisateur.errors.count, "error") %> prohibited this utilisateur from being saved:</h2>
      <ul>
      <% @utilisateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <table>
      <% if @utilisateur.type == 'Enseignant' %>   
        <tr><td><label for="utilisateur_nom">Nom: </label><br>
        <%= text_field 'utilisateur', 'nom' %></tr></td>
        <tr><td><label for="utilisateur_prenom">Prenom: </label><br>
        <%= text_field 'utilisateur', 'prenom' %></tr></td>
        <tr><td><label for="utilisateur_email">Adresse email: </label><br>
        <%= email_field 'utilisateur', 'email' %></tr></td>
        <tr><td><label for="utilisateur_password">Mot de passe: </label><br>
        <%= password_field 'utilisateur', 'password' %></tr></td>
        <tr><td><label for="utilisateur_confirm_password">Confirmer le mot de passe: </label><br>
        <%= password_field 'utilisateur', 'password_confirmation' %></tr></td>
        <p><%= hidden_field 'utilisateur', 'type' %></p>
      <% else %>
        <tr><td><label for="utilisateur_nom">Nom: </label><br>
        <%= text_field 'utilisateur', 'nom' %></tr></td>
        <tr><td><label for="utilisateur_prenom">Prenom: </label><br>
        <%= text_field 'utilisateur', 'prenom' %></tr></td>
        <tr><td><label for="utilisateur_email">Adresse email: </label><br>
        <%= email_field 'utilisateur', 'email' %></tr></td>
        <p><%= hidden_field 'utilisateur', 'password', :value => @password %></p>
      <% end %>
    </table>
    <%= f.submit 'Valider' %>

  

  </div>

<% end %>
