<h1>Changer de mot de passe</h1>
<div class="actions">
<table>
<%= form_tag(submitNewPassword_path) do %>
	<tr><td><label for="utilisateur_password">Mot de passe actuel: </label><br>
	<%= password_field_tag(:old_password) %></td></tr>
	<tr><td><label for="utilisateur_password_new">Nouveau mot de passe: </label><br>
	<%= password_field_tag(:new_password) %></td></tr>
	<tr><td><label for="utilisateur_password_new_confirm">Confirmer le nouveau mot de passe: </label><br>
	<%= password_field_tag(:new_password_confirmation) %></td></tr>
</table>
<%= submit_tag 'Valider' %>
<% end %>
</div>