<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<% if !@utilisateur %>

  <h1>Connexion</h1>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= form_tag('/connexion') do %>
        <div class="actions">
          <p><label class="submit1" for="utilisateur_email">Adresse email: </label>
          <%= email_field_tag(:email) %></p>
          <p><label class="submit2" for="utilisateur_password">Mot de passe: </label>
          <%= password_field_tag(:password) %></p>
          <%= submit_tag 'Connexion' %>
          <%= link_to 'S\'inscrire', new_utilisateur_path(:type => 'Enseignant') %>
        </div>
      <% end %>
    </tbody>
  </table>

  <br>
<% else %>
<div class="actions">
  <p>Vous pouvez désormais naviguer sur le site !</p>
</div>
<% end %>


