<%= form_for(@epreuve) do |f| %>
  <% if @epreuve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@epreuve.errors.count, "error") %> prohibited this epreuve from being saved:</h2>

      <ul>
      <% @epreuve.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <table>
      <tr><td><label for="epreuve_titre">Nom de l'épreuve</label><br>
      <%= text_field 'epreuve', 'titre' %></tr></td>
      <tr><td><label for="epreuve_date">Date de l'épreuve</label><br>
      <%= date_field 'epreuve', 'date' %></tr></td>
      <%= hidden_field 'epreuve', 'matiere_id' %>
    </table>
    <%= f.submit %>
  </div>
<% end %>
