<p id="notice"><%= notice %></p>
<table class="tab">
	<tr>
		<td class="majuscule"><FONT size="20pt"><strong><%= @matiere.titre %></strong></FONT></td>
	</tr>
	<tr>
		<td><%= @matiere.description %></td>
	</tr>
</table>
<div class="center">
	<%= link_to 'Ajouter un étudiant', add_etu_path %>  |
	<%= link_to 'Voir les épreuves pour cette matière', epreuves_by_matiere_path(:matiere_id => @matiere.id) %> | 
	<%= link_to 'Modifier', edit_matiere_path(@matiere) %>  |
	<%= link_to 'Retour', matieres_path %>
</div>
