<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Bootstrap Core CSS -->
	<!--stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true -->

    <!-- Custom CSS -->
    <%= stylesheet_link_tag    'noteFunny', media: 'all' %>

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

	<title>NoteFunny</title>
	<%= stylesheet_link_tag    'bootstrap', media: 'all' %>
	<!-- <link rel='stylesheet' type='text/css' href='app/assets/stylesheets/bootstrap.css'> -->
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">noteFunny</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                	<% if session[:current_user_id] %>
	                    <li><a href='/'>Accueil</a></li>
                        <% if current_user.type != 'Etudiant' %>
	                       <li><a href='/matieres'>Matières</a></li>
                       <% end %>
	                    <li><a href='/epreuves'>Résultats</a></li>                        
	                    <li><a>Mon compte<small> (<%= current_user.email %>)</small></a>
                            <ul>
                                <li><a href='/changePassword'>Changer mon mot de passe</a></li>
                                <% if current_user.type == 'Admin' %>
                                    <li><a href='/list'>Gestion des utilisateurs</a></li>
                                <% end %>
                                <li><a href='/deconnexion'>Déconnexion</a></li>
                            </ul>     
                        </li>                   
	                <% else %>
	                	<li><a href='/'>Accueil</a></li>
                	<% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <h2 class="brand-before">
                        <small>Bienvenue sur</small>
                    </h2>
                    <h1 class="brand-name">noteFunny</h1>
                    <h2>le gestionnaire de notes en ligne</h2>
                    <hr class="tagline-divider">
                    <!-- <h3>
                        <small>By
                            <strong>Valentin Cabanel et Lucas Mull</strong>
                        </small>
                    </h3> -->
                </div>
            </div>
        </div>

        
       
    <!-- /.container -->
    <!-- jQuery -->
    <!--<script src="app/assets/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript
    <script src="app/assets/javascripts/bootstrap.min.js"></script> -->

    <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>

<%= yield %>
	             <!-- <img class="img-responsive img-border img-left" src="app/assets/images/intro-pic.jpg" alt=""> -->
                    <hr class="visible-xs">
                </div>
            </div>
        </div>

    </div>

<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>By Valentin Cabanel & Lucas Mull</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
